
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Helvetica', sans-serif;
    color: #333;
    line-height: 1.6;
}



.hero-section {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), 
                url('maingreece.png') no-repeat center center/cover; 
    height: 60vh; 
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding-bottom: 50px; 
}

.navbar {
    width: 90%;
    margin: 0 auto;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-img {
    height: 40px;  
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 30px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
    padding-bottom: 5px;
    transition: border-bottom 0.3s;
}

.nav-links a:hover {
    border-bottom: 2px solid #fff;
}


.hero-content {
    flex-grow: 1; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-content h1 {
    font-size: 3.5rem;
    font-weight: 700;
    margin-bottom: 10px;
    letter-spacing: 2px;
}

.hero-content p {
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 5px;
}


.services-container {
    display: grid;
    grid-template-columns: 25% 70%; 
    gap: 5%;
    width: 90%;
    max-width: 1200px;
    margin: 60px auto;
}


.services-info {
    padding-right: 20px;
}

.services-info h2 {
    color: #8c8c8c; 
    font-size: 0.9rem;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 5px;
}

.services-info h3 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 15px;
    color: #010101;
;
}

.services-info p {
    font-size: 0.9rem;
    color: #555;
}


.services-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.service-card {
    text-align: left;
}

.card-img {
    width: 100%;
    height: 180px; 
    object-fit: cover;
    margin-bottom: 15px;
}

.service-card h4 {
    font-size: 1rem;
    font-weight: 700;
    color: #1a1a1a;
    margin-bottom: 5px;
}

.service-card p {
    font-size: 0.8rem;
    color: #555;
    line-height: 1.4;
}


@media (max-width: 286px) {
    .services-container {
        grid-template-columns: 1fr;
        gap: 30px;
    }

    .services-info {
        text-align: center;
        padding: 0;
    }
}

@media (max-width: 286px) {
    .services-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 576px) {
    .services-grid {
        grid-template-columns: 1fr;
    }
    .navbar {
        flex-direction: column;
    }
    .nav-links {
        margin-top: 15px;
    }
    .hero-content h1 {
        font-size: 2.5rem;
    }
}